:root{
    --background: #afafaf;
    --main: #eeee;

    --text: black; 

}
body{
    

    margin: 0;
    padding: 0;


    background-color: var(--background);

}

.parent{

    height: 100vh;
    width: 100vw;
    
    display: grid;
    grid-template-columns: [first] 1fr [column-start] 7fr [column-end] 1fr [end];
    grid-template-rows: [first] 1fr  [row-start] 6fr  [row-end] 1fr [end]; 
    grid-column-gap: 0px;
    grid-row-gap: 0px;


}

.container{
    height: 100%;
    width: 100%;

    grid-row: row-start / row-end;
    grid-column: column-start / column-end;

    background-color: var(--main);

    color: var(--text);

    grid-column: 1/5;
}