:root{
    --background: #afafaf;
    --main: #eeee;

    --text: black; 

}

body{
    background-color: var(--background);
}

.container{
    background-color: var(--main);

    color: var(--text);
}