:root {
  --background: #afafaf;
  --main: #eeee;
  --second-tone: rgb(119, 119, 119);

  --text: black;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  margin: 0;

  background-color: var(--background);
  grid-column: 1/5;
}

.parent {
  width: 100vw;
  height: 90vh;

  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.container {
  grid-area: 2 / 2 / 3 / 3;

  background-color: var(--main);

  height: 100%;

  width: 100%;

  color: var(--text);

  padding-top: 5%;
}

form{
  height: 100%;
  width: 100%;
}

#introductionPage, #pageOne , #pageTwo {
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  display: block;
}

button {
  width: 5%;
  height: 5%
}

#pageOneOption1{
  background-color: red;
}

#pageOneOption2{
  background-color: blue;
}