:root {
  --background: #afafaf;
  --main: #eeee;
  --second-tone: rgb(119, 119, 119);
  --third-tone: rgb(133, 133, 133);

  --text: black;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 20px;

  margin: 0;

  background-color: var(--background);
  grid-column: 1/5;
}

.parent {
  width: 100vw;
  height: 90vh;

  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.container {
  grid-area: 2 / 2 / 3 / 3;

  background-color: var(--main);

  height: 100%;

  width: 100%;

  color: var(--text);

  padding-top: 5%;
}

form{
  height: 100%;
  width: 100%;
}

#introductionPage, #pageOne , #pageTwo {
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  display: block;
}

button {
  width: 5%;
  height: 10%;

  margin: 30px;
  margin-top: 30px;
}

#pageOneOption1, #pageTwoOption1{
  background-color: red;
}

#pageOneOption2, #pageTwoOption2{
  background-color: rgb(255, 145, 0);
}

#pageOneOption3, #pageTwoOption3{
  background-color: rgb(255, 251, 0);
}

#pageOneOption4, #pageTwoOption4
{
  background-color: rgb(30, 255, 0);
}

#pageOneOption5, #pageTwoOption5{
  background-color: rgb(68, 0, 255);
}

#pageOneOption6, #pageTwoOption6{
  background-color: rgb(234, 0, 255);
}

#pageOneOption7, #pagTwoeOption7 {
  background-color: rgb(255, 255, 255);
}

#pageOneOption8,#pageTwoOption8{
  background-color: rgb(0, 0, 0);
}




#clock{
  color: var(--third-tone);
}